<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

<h2 class="text-center" style="color: coral;font-family: 'Berlin Sans FB';">BLOG LIST</h2>
<p>
    <a th:href="@{/create}">
        <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
    </a>
</p>

<table class="table table-striped" id="products">
    <thead>
    <tr>
        <th>Id</th>
        <th>title</th>
        <th>Content</th>
        <th>postDay</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${blogList}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.getTitle()}"></td>
        <td th:text="${row.getContent()}"></td>
        <td th:text="${row.getPostDay()}"></td>

        <td><a class="btn btn-warning" th:href="@{{id}/edit(id=${row.getId()})}"><i class="far fa-edit"></i></a></td>
        <td><a> <button class="btn btn-danger" type="button" th:onclick="|setBlogId('${row.id}')|"><i class="far fa-trash-alt"></i></button> </a>
        </td>
        <td><a class="btn btn-info" th:href="@{{id}/view(id=${row.getId()})}"><i class="fas fa-eye"></i></a></td>
    </tr>
    </tbody>
</table>

<div th:replace="/layout :: deleteModal"></div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>