<div class="container col-6">

  <!--test button Log out-->
  <button type="button" class="btn btn-primary my-3"
          style="float: right"
          data-toggle="modal" data-target="#myModal">
    Đăng xuất
  </button>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content text-center">

        <div class="modal-header text-center">
          <h4 class="modal-title">Bạn có muốn thoát không?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal" title="Hủy">Hủy
          </button>
          <!--                    test link, click Thoát sẽ về trang chủ, sẽ chèn routerLink trang chủ tử ThuanNN vào-->
          <a (click)="logout()">
            <button type="button" class="btn btn-danger" title="Thoát">Thoát</button>
          </a>
        </div>

      </div>
    </div>
  </div>

</div>
