<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/customer}">
        Back to Customer list
    </a>
</p>
    <div id="detail">
        <div class="cusdetail">
            <label>Customer Id:</label>
            <label th:text="${customer.customerId}"></label><br>

            <label>Customer Type Name:</label>
            <label th:text="${customer.customerType.customerTypeName}"></label><br>

            <label>Customer Name:</label>
            <label th:text="${customer.customerName}"></label><br>

            <label>Customer Birthday:</label>

            <label th:text="${customer.customerBirthday}"></label><br>

            <label>Customer Gender:</label>
            <label th:text="${customer.customerGender}"></label><br>

            <label>Customer Id Card:</label>
            <label th:text="${customer.customerIdCard}"></label><br>

            <label>Customer Phone:</label>
            <label th:text="${customer.customerPhone}"></label><br>

            <label>Customer Email:</label>
            <label th:text="${customer.customerEmail}"></label><br>

            <label>Customer Address:</label>
            <label th:text="${customer.customerAddress}"></label><br>

        </div>
        <footer th:replace="/layout :: footer"></footer>
    </div>
</body>
</html>