<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div id="form" class="container align-items-center">
    <h3 class="text-center">Add Service</h3>
    <p>
        <a th:href="@{/service}">
            Back to Service list
        </a>
    </p>
    <form th:action="@{/service/save}" th:object="${serviceFs}"
          method="POST" novalidate="novalidate">

        <div>
            <label>ID</label>
            <input type="text" th:field="*{serviceId}"/>
        </div>

        <div th:if="${#fields.hasErrors('serviceId')}"
             th:errors="*{serviceId}">Service error>
        </div>

        <div>
            <label>serviceName</label>
            <input type="text" th:field="*{serviceName}"/>
        </div>
        <div>
            <label>serviceArea</label>
            <input type="text" th:field="*{serviceArea}"/>
        </div>
        <div>
            <label>serviceCost</label>
            <input type="text" th:field="*{serviceCost}"/>
        </div>
        <div>
            <label>serviceMaxPeople</label>
            <input type="text" th:field="*{serviceMaxPeople}"/>
        </div>
        <div>
            <label>Rent Type </label>
            <select th:field="*{rentType}">
                <option th:each="rentType : ${rentTypes}" th:value="${rentType.rentTypeId}" th:text="${rentType.rentTypeName}"></option>
            </select>
        </div>
        <div>
            <label>Service Type </label>
            <select th:field="*{serviceType}">
                <option th:each="serviceType : ${serviceTypes}" th:value="${serviceType.serviceTypeId}" th:text="${serviceType.serviceTypeName}"></option>
            </select>
        </div>

        <div>
            <label>standardRoom</label>
            <input type="text" th:field="*{standardRoom}"/>
        </div>
        <div>
            <label>descriptionOtherConvenience</label>
            <input type="text" th:field="*{descriptionOtherConvenience}"/>
        </div>
        <div>
            <label>poolArea</label>
            <input type="text" th:field="*{poolArea}"/>
        </div>
        <div>
            <label>numberOfFloors</label>
            <input type="text" th:field="*{numberOfFloors}"/>
        </div>

        <input type="submit" class="text-center" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>