.form-body {
  height: 100%;
  color: black;
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.form-getPw {
  margin-top: 4rem;
}

.errMsg {
  color: red;
  font-size: 11px;
  padding-left: 5px;
  margin-top: 5px;
}
