<div class="form-body container-fluid justify-content-center align-item-center">
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="email">
        Một email đã được gửi đến <strong>{{email}}</strong> .Hãy kiểm tra hộp thư đến của bạn!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container-fluid text-center" id="getPwDiv">
        <div id="getPwForm">
          <p class="title">lấy lại mật khẩu</p>
          <form [formGroup]="form" (ngSubmit)="checkEmail()">
            <table class="table table-borderless my-4">
              <thead></thead>
              <tbody>
              <tr>
                <td>
                  <label for="email">Email đăng ký :&nbsp;</label>
                </td>
                <td>
                  <input type="text" class="form-control" id="email" formControlName="email" required>
<!--                  message lỗi tạm thời-->
                  <div *ngIf="form.controls.email.touched" class="errMsg">
                    <p *ngIf="form.controls.email.errors?.required">
                      Bạn chưa nhập email.Vui lòng nhập email
                    </p>
                    <p *ngIf="email != '' && wrongEmail">
                      Địa chỉ email không có trong hệ thống.Vui lòng kiểm tra lại
                    </p>
                    <p *ngIf="form.controls.email.errors?.email">
                      Định dạng email không đúng. Vui lòng nhập lại! ví dụ: example@abc.xyz
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button class="btn btn-success col-3 rounded-pill"
                          [disabled]="form.invalid" type="submit">
                    Gửi
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div style="display: none" id="inputCodeForm">
          <table class="table table-borderless">
            <thead></thead>
            <tbody>
            <tr>
              <td></td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="inputCode"
                       name="inputCode" id="code" required>
                <p class="errMsg" *ngIf="codeNotify">{{codeNotify}}</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button class="btn btn-warning" type="button" (click)="checkCode()">
                  Nhập mã
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="inputNewPw" style="display: none">
        <p class="title">Đổi mật khẩu</p>
        <form [formGroup]="newPwForm" (ngSubmit)="changePw()" class="col-6">
          <div class="form-group">
            <label for="newPw">Mật khẩu mới</label>
            <input type="password" formControlName="newPw"
                   id="newPw" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="confirmPw">Nhập lại mật khẩu</label>
            <input type="password" formControlName="confirmPw"
                   id="confirmPw" class="form-control" required>
          </div>
          <div *ngIf="newPwForm.controls.newPw.touched" class="errMsg">
            <p *ngIf="newPwForm.controls.newPw.errors?.required || newPwForm.controls.confirmPw.errors?.required">
              Bạn chưa nhập mật khẩu!
            </p>
            <p *ngIf="newPwForm.controls.newPw.errors?.minlength || newPwForm.controls.confirmPw.errors?.minlength">
              Mật khẩu phải chứa ít nhất 6 kí tự!
            </p>
          </div>
          <p *ngIf="pwNotify" class="errMsg">{{pwNotify}}</p>
          <div class="form-group">
            <button class="btn btn-warning" type="submit" [disabled]="newPwForm.invalid">Đổi mật khẩu</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
