<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div id="form" class="container align-items-center">
    <h3 class="text-center">Add Request</h3>
    <p>
        <a th:href="@{/blog}">
            Back to Blog list
        </a>
    </p>
    <form th:action="@{/blog/save}" th:object="${blogs}"
          method="POST" novalidate="novalidate">

        <div>
<!--            <label>ID</label>-->
            <input type="hidden" th:field="*{blogId}"/>
        </div>


        <div>
            <label>Blog Title</label>
            <input type="text" th:field="*{blogTitle}"/>

        </div>
        <div>
            <label>Blog Questions</label>
            <input type="text" th:field="*{blogQuestions}"/>
        </div>
        <div>
            <label>Blog Answer</label>
            <input type="text" th:field="*{blogAnswer}"/>
        </div>
        <div>
            <label>Date Create</label>
            <input type="date" th:field="*{dateCreate}"/>
        </div>
        <div>
            <label>Category Name </label>
            <select th:field="*{category}">
                <option th:each="category : ${categorys}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
            </select>
        </div>
        <div>
            <label>User Name </label>
            <select th:field="*{user}">
                <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userName}"></option>
            </select>
        </div>

        <input type="submit" class="text-center" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>