<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Product List</h5>
          <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>ProductDate</th>
              <th>Quantity</th>
              <th>Status</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products; let i = index" (click)="showDetail(product)">
              <td>{{i+1}}</td>
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.productDate}}</td>
              <td>{{product.quantity}}</td>
              <td>
                <span *ngIf="product.quantity == 0">Out of Stock</span>
                <span *ngIf="product.quantity >0 && product.quantity < 10">little inventory</span>
                <span *ngIf="product.quantity >=10">inventory much</span>

              </td>

              <td>{{product.description}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-6">
  <app-detail [productDetail]="product"></app-detail>
  <app-create (productCreate)="onGetCreate($event)"></app-create>
</div>

