<div class="container">
  <div class="row">
    <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Student List</h5>
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Point</th>
            <th>Result</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of studens; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td [ngSwitch]="item.gender">
              <span *ngSwitchCase="0">Female</span>
              <span *ngSwitchCase="1">Male</span>
              <span *ngSwitchDefault>TG3</span>
            </td>
            <td>{{item.point}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    </div>
  </div>
</div>

<div class="col-6">
  <app-create (studentCreate)="onGetStudent($event)"></app-create>
</div>
