<div class="main">
  <div class="container">
    <div class="row">
      <!--      <div class="col-md-3">-->

      <!--        <div class="menu-account ng-scope" ng-controller="accountController">-->
      <!--          <h3>-->
      <!--        <span>-->
      <!--            Quản lý cá nhân-->
      <!--        </span>-->
      <!--          </h3>-->
      <!--          <ul>-->
      <!--            <li class="active"><a ><i class="glyphicon glyphicon-user"></i> Thông tin tài khoản</a></li>-->
      <!--            <li><a><i class="glyphicon glyphicon-list-alt"></i> Đơn hàng của tôi</a></li>-->
      <!--            <li><a ><i class="glyphicon glyphicon-shopping-cart"></i> Sản phẩm yêu thích</a></li>-->
      <!--            <li><a ><i class="fa fa-key"></i> Thay đổi mật khẩu</a></li>-->
      <!--            <li><a href="javascript:void(0)" ng-click="signOut()"><i class="glyphicon glyphicon-log-out"></i> Thoát</a></li>-->
      <!--          </ul>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="col-md-12">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Thông Tin Giỏ Hàng</legend>
          <div class="myorder-content myorder-detail-content clearfix">
            <div class="myorder-block">
              <div class="table-responsive clearfix myorder-info">
                <!--              <div ><h2 style="font-size: 20px;font-family: Roboto;color: #d85909">THÔNG TIN GIỎ HÀNG</h2></div>-->
                <table class="table table-mycart" *ngIf="cards!=null;else nodata">
                  <thead style="background-color:  #0f9ed8;">
                  <tr>
                    <th>STT</th>
                    <th style="width: 250px; text-align: center">Hình Ảnh</th>
                    <th style="text-align: left">Tên Sản Phẩm</th>
                    <th style="text-align: right;width: 160px">Giá</th>
                    <th style="text-align: right">Số Lượng</th>
                    <th style="text-align: right;width: 160px">Thành Tiền</th>
                    <th style="text-align: center;width: 200px" > Chức Nảng</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let c of cards; let i=index">
                    <th scope="row">{{i + 1}}</th>
                    <td>
                      <a><img style="width: 160px;height: 80px" class="img-responsive" [src]="c.food.image"></a>
                    </td>
                    <td style="text-align: left">{{c.food.foodName | titlecase}}</td>
                    <td style="text-align: right">{{c.food.foodPrice| currency: 'VND'}}</td>
                    <td style="text-align: center">{{c.quantity}}</td>
                    <td style="text-align: right">{{c.food.foodPrice * c.quantity | currency: 'VND'}}</td>
                    <td>
                      <button  type="button" class="btn btn-danger btn-sm mr-1" data-toggle="modal"
                              data-target="#deleteModal"
                              (click)="deleteOrderFood(c.food.foodId)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                          <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                      </button>
                      <button type="button" data-toggle="modal" id="#deleteModal" data-target=".viewModal" class="btn btn-success btn-sm mr-1" style="margin-left: 10px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                          <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                        </svg>
                      </button>
                      <button type="button" class="btn btn-success mr-2" data-toggle="modal"
                              data-target=".viewModal"
                              (click)="showInfoView()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-hand-index"
                             viewBox="0 0 16 16">
                          <path
                            d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
                        </svg>
                      </button>
                    </td>

                  </tr>
                  </tbody>
                </table>
                <ng-template #nodata>
                  <h5 style="color: rgba(255,91,32,0.99)" class="text-center">---------- Giỏ Hàng Không Tồn Tại
                    ----------</h5>
                </ng-template>
              </div>
              <div class="button text-right">
                <a class="btn btn-default" [routerLink]="['']">Trở về danh sách đơn hàng</a>
                <a class="btn btn-primary">Tiếp tục mua hàng</a>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<!-- View Modal-->
<!-- View Modal-->
<div class="modal fade viewModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
      <fieldset class="scheduler-border ">
        <legend class="scheduler-border">Thông Tin Chi Tiết Khách Hàng</legend>
        <div>
          <div class="row mt-4">
            <div class="col-6">
              <label class="style-span">Mã Khách Hàng </label>
              <input type="text"  class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" disabled>
            </div>

            <div class="col-6">
              <label class="style-span">Tên Khách Hàng </label>
              <input type="text"  class="form-control is-valid "
                     aria-describedby="validationServer02Feedback" disabled>
            </div>

          </div>

          <div class="row mt-4">
            <div class="col-6">
              <label class="style-span">Ngày Sinh</label>
              <input type="text" class="form-control is-valid "
                     aria-describedby="validationServer02Feedback" disabled>

            </div>
            <div class="col-6">
              <label class="style-span">CMND/Hộ Chiếu</label>
              <input type="text"  class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" disabled>
            </div>

          </div>

          <div class="row mt-4">
            <div class="col-6">
              <label class="style-span ">Số Điện Thoại</label>
              <input type="text"  class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" disabled>
            </div>

            <div class="col-6">
              <label class="style-span">Email</label>
              <input type="text"  class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" disabled>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-3">
              <label class="style-span">Giới Tính</label>
              <input type="text"  class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" disabled>
            </div>

            <div class="col-6">
              <label class="style-span">Địa Chỉ </label>
              <input type="text"  class="form-control is-valid "
                     aria-describedby="validationServer02Feedback" disabled>
            </div>
            <div class="col-3">
              <label class="style-span ">Số Lượng Hợp Đồng</label>
              <input type="text"  class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" disabled>
            </div>

          </div>

          <hr>
          <div class="text-center">
            <button class="btn btn-secondary" data-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <span>Thoát</span>
            </button>

          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<!-- View Modal-->
<!-- View Modal-->


<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target=".bd-example-modal-lg">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
       fill="currentColor" class="bi bi-hand-index"
       viewBox="0 0 16 16">
    <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
  </svg>
</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
      <fieldset class="scheduler-border ">
        <legend class="scheduler-border">Thông Tin Chi Tiết Khách Hàng</legend>
        <div>
          <div class="row mt-4">
            <div class="col-6">
              <label class="style-span ">Mã Khách Hàng </label>
              <input type="text" value="KH-001 " class="form-control is-valid " id=""
                     aria-describedby="validationServer04Feedback" required>
            </div>

            <div class="col-6">
              <label class="style-span">Tên Khách Hàng </label>
              <input type="text" value="Nguyễn Văn A" class="form-control is-valid "
                     aria-describedby="validationServer02Feedback" required>
            </div>

          </div>

          <div class="row mt-4">
            <div class="col-6">
              <label class="style-span">Ngày Sinh</label>
              <input type="text" value="12/12/1999" class="form-control is-valid "
                     aria-describedby="validationServer02Feedback" required>

            </div>
            <div class="col-6">
              <label class="style-span">CMND/Hộ Chiếu</label>
              <input type="text" value="2015111122 " class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" required>
            </div>

          </div>

          <div class="row mt-4">
            <div class="col-6">
              <label class="style-span ">Số Điện Thoại</label>
              <input type="text" value="0905123456 " class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" required>
            </div>

            <div class="col-6">
              <label class="style-span">Email</label>
              <input type="text" value="anguyen@gmail.com" class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" required>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-3">
              <label class="style-span ">Giới Tính</label>
              <input type="text" value="Nam" class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" required>
            </div>

            <div class="col-6">
              <label class="style-span">Địa Chỉ </label>
              <input type="text" value="K11/27 Đỗ Quang Đà Nẵng" class="form-control is-valid "
                     aria-describedby="validationServer02Feedback" required>
            </div>
            <div class="col-3">
              <label class="style-span ">Số Lượng HD</label>
              <input type="text" value="2" class="form-control is-valid "
                     aria-describedby="validationServer04Feedback" required>
            </div>

          </div>

          <hr>
          <div class="text-center">
            <button class="btn btn-warning">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <span>Thoát</span>
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
