<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div id="form" class="container align-items-center">
    <h3 class="text-center">Add Contract</h3>
    <p>
        <a th:href="@{/contract}">
            Back to contract list
        </a>
    </p>
    <form th:action="@{/contract/save}" th:object="${contract}"
          method="POST" novalidate="novalidate">

        <div>
<!--            <label>ID</label>-->
            <input type="hidden" th:field="*{contractId}"/>
        </div>
        <div>
            <label>Contract Star Day</label>
            <input type="datetime-local" class="form-control" th:field="*{contractStartDay}"/>
        </div>
        <div th:if="${#fields.hasErrors('contractStartDay')}"
             th:errors="*{contractStartDay}">
        </div>
        <div>
            <label>Contract End Day</label>
            <input type="datetime-local" class="form-control" th:field="*{contractEndDay}"/>
        </div>
        <div th:if="${#fields.hasErrors('contractEndDay')}"
             th:errors="*{contractEndDay}">
        </div>
        <div>
            <label>Contract Deposit</label>
            <input  type="text" th:field="*{contractDeposit}"/>
        </div>
        <div>
            <label>Contract Total Money</label>
            <input type="text" th:field="*{contractTotalMoney}"/>
        </div>
        <div>
            <label>Employee </label>
            <select th:field="*{employee}">
                <option th:each="employee : ${employees}" th:value="${employee.employeeId}" th:text="${employee.employeeName}"></option>
            </select>
        </div>
        <div>
            <label>Customer </label>
            <select th:field="*{customer}">
                <option th:each="customer : ${customers}" th:value="${customer.customerId}" th:text="${customer.customerName}"></option>
            </select>
        </div>
        <div>
            <label>Service </label>
            <select th:field="*{serviceF}">
                <option th:each="serviceF : ${services}" th:value="${serviceF.serviceId}" th:text="${serviceF.serviceName}"></option>
            </select>
        </div>



        <input type="submit" class="text-center" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>