<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h2>Book Detail</h2>
<table style="border: 1px solid">
    <tr>
        <td>Id</td>
        <td th:text="${book.id}"></td>
    </tr>
    <tr>
        <td>Title</td>
        <td th:text="${book.name}"></td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td th:text="${book.amount}"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <a th:href="@{/}">
                <button type="button">Back</button>
            </a>
            <a th:href="@{/borrow(id=${book.id})}">
                <button type="button">Borrow</button>
            </a>
        </td>
    </tr>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>