<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

<h2 class="text-center" style="color: coral;font-family: 'Berlin Sans FB';">CART LIST</h2>
<h2>Cart Product</h2>
<a th:href="@{/}">Back to list Product</a>
<form action="">
    <table class="table table-striped" id="products">
        <thead>
        <tr>
<!--            <th>No.</th>-->
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,rowStat : ${cartProduct.keySet()}">
<!--            <td th:text="${rowStat.count}"></td>-->
            <td th:text="${row.name}"></td>
            <td th:text="${row.price}"></td>
            <td th:text="${cart.getQuantity(row)}"></td>
            <td><a th:href="@{/cart/delete/{id}(id = ${row.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</form>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>