<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/}">
        Back to Product list
    </a>
</p>
<th:block th:if="${message}">
    <h3><p th:text="${message}"></p></h3>
</th:block>
<form th:action="@{/add/(id = ${product.id})}" th:object="${product}" method="post">
    <table border="1">
        <div id="detail">
            <div class="cusdetail">
                <label>Name:</label>
                <label th:text="${product.name}"></label>
            </div>
            <div class="cusdetail">
                <label>Price:</label>
                <label th:text="${product.price}"></label>
            </div>
            <div class="cusdetail">
                <label>First Name:</label>
                <label th:text="${product.id}"></label>
            </div>

        </div>
        <div>
            <button type="submit">Add to cart</button>
        </div>

    </table>
</form>
<br>
<br>
<div>
    <button>
        <a th:href="@{/cart}">Go To Cart</a>
    </button>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>