<div class="d-inline-flex col-12 px-0">
  <!-- menu left -->
  <div class="col-md-2 px-0">
    <!-- content menu left full-size -->
    <div class="position-fixed col-md-2 menu-left border-right">
      <!-- category -->
      <p class="title-text">Chuyên mục</p>
      <div>
        <a class="btn menu-left_item col-12 bg-light" data-toggle="collapse" data-target="#ctgy1"><span>-&nbsp;</span>Xe
          cộ</a>
        <ul id="ctgy1" class="collapse list-group list-group-flush ml-2">
          <li class="list-group-item"><span>+&nbsp;</span>Xe máy</li>
          <li class="list-group-item"><span>+&nbsp;</span>Ô tô</li>
          <li class="list-group-item"><span>+&nbsp;</span>Xe đạp</li>
          <li class="list-group-item"><span>+&nbsp;</span>Xe tải, xe khác</li>
          <li class="list-group-item"><span>+&nbsp;</span>Phụ tùng</li>
        </ul>
      </div>
      <!-- END category -->
      <!-- category -->
      <div>
        <a class="btn menu-left_item col-12 bg-light" data-toggle="collapse" data-target="#ctgy2"><span>-&nbsp;</span>Bất
          động sản</a>
        <ul id="ctgy2" class="collapse list-group list-group-flush ml-2">
          <li class="list-group-item"><span>+&nbsp;</span>Đất mặt tiền</li>
          <li class="list-group-item"><span>+&nbsp;</span>Biệt thự</li>
          <li class="list-group-item"><span>+&nbsp;</span>Chung cư</li>
          <li class="list-group-item"><span>+&nbsp;</span>Đất canh tác</li>
          <li class="list-group-item"><span>+&nbsp;</span>Đất mặt tiền</li>
          <li class="list-group-item"><span>+&nbsp;</span>Biệt thự</li>
          <li class="list-group-item"><span>+&nbsp;</span>Chung cư</li>
          <li class="list-group-item"><span>+&nbsp;</span>Đất canh tác</li>
          <li class="list-group-item"><span>+&nbsp;</span>Đất mặt tiền</li>
          <li class="list-group-item"><span>+&nbsp;</span>Biệt thự</li>
          <li class="list-group-item"><span>+&nbsp;</span>Chung cư</li>
          <li class="list-group-item"><span>+&nbsp;</span>Đất canh tác</li>
        </ul>
      </div>
      <!-- END category -->
      <!-- category -->
      <div>
        <a class="btn menu-left_item col-12 bg-light" data-toggle="collapse" data-target="#ctgy3"><span>-&nbsp;</span>Đồ
          điện tử</a>
        <ul id="ctgy3" class="collapse list-group list-group-flush ml-2">
          <li class="list-group-item"><span>+&nbsp;</span>Điện thoại</li>
          <li class="list-group-item"><span>+&nbsp;</span>Tivi</li>
          <li class="list-group-item"><span>+&nbsp;</span>Máy lạnh</li>
          <li class="list-group-item"><span>+&nbsp;</span>Laptop</li>
          <li class="list-group-item"><span>+&nbsp;</span>Linh kiện</li>
        </ul>
      </div>
      <!-- END category -->
    </div>
    <!--END content menu left full-size -->
    <!-- content menu left under 768px -->
    <span class="open-overlay position-fixed col-1 col-sm-1" (click)="openNav()">&#9776;</span>
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <div class="overlay-content">
        <!-- category -->
        <div>
          <a class="btn title-text" data-toggle="collapse" data-target="#ctgy1"><span>-&nbsp;</span>Xe cộ</a>
          <ul id="ctgy1" class="collapse list-group list-group-flush ml-2">
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Xe máy</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Ô tô</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Xe đạp</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Xe tải, xe khác</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Phụ tùng</li>
          </ul>
        </div>
        <!-- END category -->
        <!-- category -->
        <div>
          <a class="btn title-text" data-toggle="collapse" data-target="#ctgy2"><span>-&nbsp;</span>Bất động sản</a>
          <ul id="ctgy2" class="collapse list-group list-group-flush ml-2">
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Đất mặt tiền</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Biệt thự</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Chung cư</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Đất canh tác</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Đất mặt tiền</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Biệt thự</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Chung cư</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Đất canh tác</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Đất mặt tiền</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Biệt thự</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Chung cư</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Đất canh tác</li>
          </ul>
        </div>
        <!-- END category -->
        <!-- category -->
        <div>
          <a class="btn title-text" data-toggle="collapse" data-target="#ctgy3"><span>-&nbsp;</span>Đồ điện tử</a>
          <ul id="ctgy3" class="collapse list-group list-group-flush ml-2">
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Điện thoại</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Tivi</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Máy lạnh</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Laptop</li>
            <li class="list-group-item list-item-overlay"><span>+&nbsp;</span>Linh kiện</li>
          </ul>
        </div>
        <!-- END category -->
      </div>
    </div>
    <!--END content menu left under 768px -->
  </div>
  <!-- END menu left -->
  <!-- main content -->
  <div class="col-md-8 col-sm-10 col-10 px-0">
    <!-- content here -->
    <div class="main-content bg-light position-fixed col-md-8 col-sm-12">
      <!-- advanced_search -->
      <div class="advanced_search px-0 bg-light col-12 border-bottom sticky-top" style="z-index: 100">
        <div class="p-2 d-flex justify-content-around" >
          <input class="form-control mr-sm-2 col-4" type="text" placeholder="Tìm kiếm theo từ khoá"/>
          <select class="custom-select custom-select-sm col-2" name="select1"
                  onmousedown="if(this.options.length>3){this.size=3;}" onchange='this.size=0;' onblur="this.size=0;">
            <option selected disabled>Chọn loại</option>
            <option value="1">Xe cộ</option>
            <option value="2">Bất động sản</option>
            <option value="3">Đồ điện tử</option>
          </select>
          <select class="custom-select custom-select-sm col-2">
            <option selected disabled>Chọn tỉnh thành</option>
            <option value="0">Toàn quốc</option>
            <option value="1">Hà Nội</option>
            <option value="2">Huế</option>
            <option value="3">Thành phố Hồ Chí Minh</option>
          </select>
          <button class="btn btn-blue btn-sm text-light col-1" type="submit">Tìm</button>
        </div>
      </div>
      <!-- END advanced_search -->
      <!-- list post -->
      <div class="list-group list-post mt-2">
        <div href="#" class="list-group-item post-item filter-bar border-bottom">
          <div class="d-inline-flex col-12 px-0">
            <p class="col-6 px-0">
              Rao vặt&nbsp;
              <span class="text-lowercase">Xe cộ</span>&nbsp;
              <span class="text-lowercase">toàn quốc</span>
            </p>
            <p class="col-6 px-0 text-right">
              <!--              <a class="col-6 filter-item">Giá rẻ trước</a>-->
              <a class="col-6 filter-item ">Tin mới trước</a>
            </p>
          </div>
        </div>
        <!-- post -->
        <a routerLink="" class="list-group-item list-group-item-action post-item border-bottom"
           *ngFor="let item of posts.content, let i = index">
          <div class="d-inline-flex col-12 pl-0">
            <div class="col-md-2 col-sm-3 px-0">
              <img [src]="item.imageSet[0].url" width="100" height="100"/>
            </div>
            <div class="px-0 col-md-10 col-sm-9 post-item-content">
              <div class="d-inline-flex col-12 px-0">
                <section class="col-9 px-0 font-weight-bold">{{item.title}}</section>
                <span class="col-3 px-0 text-right font-italic">{{listTime[i]}}</span>
              </div>
              <div class="font-italic text-danger">{{item.price}}vnd</div>
              <div>Ở <span class="font-italic">{{item.ward.district.province.provinceName}}</span></div>
            </div>
          </div>
        </a>
        <!-- END post -->
      </div>
      <!-- END list post -->
      <!-- btn load more -->
      <div class="load-more d-flex justify-content-center m-3">
        <nav aria-label="Page navigation example" class="float-right">
          <ul class="pagination">
            <li class="page-item">
              <button class="page-link" [hidden]="posts?.pageable?.pageNumber == 0"
                      (click)="onList(posts.pageable.pageNumber - 1)">Trước
              </button>
            </li>
            <li class="page-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{posts?.pageable?.pageNumber + 1}}</span>
                </div>

                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"> /{{posts?.totalPages}}</span>
                </div>
              </div>
            </li>
            <li class="page-item">
              <button class="page-link" [hidden]="posts?.pageable?.pageNumber >=  posts?.totalPages - 1"
                      (click)="onList(posts.pageable.pageNumber + 1)">Tiếp
              </button>
            </li>
          </ul>
        </nav>
      </div>

      <!-- END btn load more-->
    </div>
  </div>
  <!-- END main content -->
  <!-- ads right -->
  <div class="col-2 pl-0">
    <div class="position-fixed col-2 menu-right border-left">
      <p class="text-danger">ADS</p>
    </div>
  </div>
  <!-- END ads right -->
</div>
