<h1>Calculator</h1>

<h4>Number 1: {{calculator.num1}}</h4>
<h4>Number 2: {{calculator.num2}}</h4>
<h4>Math : {{calculator.math}}</h4>
<h4>Result : {{calculator.result}}</h4>


<input type="number" [(ngModel)]="calculator.num1">

<select value ="math" [ngModel]="calculator.math">
  <option value ="+">+</option>
  <option value="-">-</option>`
  <option value="*">*</option>
  <option value="/">/</option>
</select>

<input type="number" [(ngModel)]="calculator.num2">

<button (click)="total()"> Result</button>


