<div class="row">
  <div class="col-2 pr-0" style="background-color: grey;">
    <div class="sidebar">
      <a href="#">Thông tin cá nhân</a>
      <a class="active" href="#">Quản lý bài đăng</a>
      <a href="#">Hộp tin nhắn</a>
      <a href="#about">Đổi mật khẩu</a>
    </div>
  </div>

  <div class="container col-8">

    <h3 class="my-3">Quản lý bài đăng</h3>

    <div class="card mb-3">

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover tablecustom">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Nội dung</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            <tbody *ngIf="posts; else nodata">
              <tr *ngFor="let post of posts.content; let i = index;">
                <th scope="row">{{i + 1}}</th>
                <td><img src="{{post?.imageSet[0]?.url}}" alt="" width="50px" height="50px"></td>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td [ngSwitch]="post.status.statusId">
                  <span *ngSwitchCase="1" class="badge badge-primary">{{post.status.statusName}}</span>
                  <span *ngSwitchCase="2" class="badge badge-secondary">{{post.status.statusName}}</span>
                  <span *ngSwitchCase="3" class="badge badge-danger">{{post.status.statusName}}</span>
                  <span *ngSwitchCase="4" class="badge badge-success">{{post.status.statusName}}</span>
                  <span *ngSwitchCase="5" class="badge badge-dark">{{post.status.statusName}}</span>
                </td>
                <td><button class="btn btn-warning" [routerLink]="['/customer/post-edit',post.postId]"><i
                      class="fas fa-edit"></i></button></td>
              </tr>
            </tbody>
            <ng-template #nodata>
              <tbody>
                <tr>
                  <td style="color: red; text-align: center;" colspan="9">No data available in table</td>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
        <nav aria-label="Page navigation example" class="float-right">
          <ul class="pagination">
            <li class="page-item">
              <button class="page-link" [hidden]="posts?.pageable?.pageNumber == 0"
                (click)="onList(posts.pageable.pageNumber - 1)">Trước
              </button>
            </li>
            <li class="page-item">
              <button class="page-link" [hidden]="posts?.pageable?.pageNumber == 0"
                (click)="onList(posts.pageable.pageNumber - 1)">{{posts?.pageable?.pageNumber}}</button>
            </li>
            <li class="page-item active">
              <button class="page-link">{{posts?.pageable?.pageNumber + 1}}</button>
            </li>
            <li class="page-item">
              <button class="page-link" [hidden]="posts?.pageable?.pageNumber >=  posts?.totalPages - 1"
                (click)="onList(posts.pageable.pageNumber + 1)">{{posts?.pageable?.pageNumber + 2}}</button>
            </li>
            <li class="page-item">
              <button class="page-link" [hidden]="posts?.pageable?.pageNumber >=  posts?.totalPages - 1"
                (click)="onList(posts.pageable.pageNumber + 1)">Tiếp
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

  <div class="col-2" style="background-color: grey;">
    ads
  </div>
</div>

<div style="background-color: yellowgreen; height: 100px;">
  footer
</div>
