body{
    margin: 0;
}

#header{
    background: #4CAF50;
    height: 300px;
    width:100%;
}
#main{
    background: orange;
    height: 700px;
    width: 70%;
    float: left;
}
#sidebar{
    background: blue;
    height: 700px;
    width: 30%;
    float: left;
}
#footer{
    background: black;
    height: 300px;
    width: 100%;
    clear: both;
}